@import "compass/css3/user-interface";
@import "var/_bootstrap.scss";

#{$prefix}-hidden {
    display:none !important;
}

[unselectable=on] {
    @include user-select(none);
}

#{$prefix}-xscroll {
    overflow-x: auto;
    overflow-y: hidden;
}

#{$prefix}-yscroll {
    overflow-x: hidden;
    overflow-y: auto;
}

#{$prefix}-noscroll {
    overflow: hidden !important;
}