@import "compass/css3/user-interface";
@import "var/_bootstrap.scss";

#{$prefix}-hidden {
    display:none !important;
}

[unselectable=on] {
    @include user-select(none);
}

#{$prefix}-vscroll {
    overflow-y: auto;
}

#{$prefix}-hscroll {
    overflow-x: auto;
}

#{$prefix}-noscroll {
    overflow: hidden;
}