@import "compass";
@import "compass/css3/user-interface";
@import "var/_bootstrap.scss";

#{$prefix}-hidden {
    display:none !important;
}

[unselectable=on] {
    @include user-select(none);
}

[data-scroll=none] {
    overflow: hidden;
}

[data-scroll=vertical] {
    overflow-x: hidden;
    overflow-y: auto
}

[data-scroll=horizontal] {
    overflow-x: auto;
    overflow-y: hidden;
}

[data-scroll=both] {
    overflow-x: auto;
    overflow-y: auto;
}

